---
 const personalImageAlt = "KeysBank"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Propuestas y Beneficios</p>
    <p>
    El proyecto KeysBank propone una solución integral para la gestión y generación de contraseñas, abordando los desafíos de seguridad en línea. Propuestas y beneficios:
  </p>
    <p>
      - Generación de contraseñas seguras: <strong
        > KeysBank ofrece la capacidad de generar contraseñas complejas y únicas</strong
      >, ayudando a evitar el uso de contraseñas débiles o predecibles.
    </p>

    <p>
      - Gestión centralizada de contraseñas: <strong
        >Permite a los usuarios almacenar todas sus contraseñas de manera segura en una única plataforma</strong
      >, eliminando la necesidad de recordar múltiples contraseñas.
    </p>
   
    <p>
      - Mejora de la seguridad en línea:  <strong
        >Al fomentar el uso de contraseñas seguras y únicas<em class="italic"> KeysBank ayuda a proteger las cuentas de los usuarios </em> contra ataques de hackers </strong
      > y la reutilización de contraseñas.
    </p>
  </div>
  <img src="/keysbank.jpg" alt="Keysbank" class="rounded-lg object-cover" style="width: 430px; height: 200px;">


</article>

<div class="my-8"></div>
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  
  <p>
    Público Objetivo</p>
  <p>
    KeysBank está dirigido a cualquier persona que utilice internet y esté preocupada por su seguridad en línea. Esto incluye:
    <p>
      - Usuarios individuales <strong
        >  Personas que desean proteger sus cuentas en línea</strong
      >, ya sea en redes sociales, servicios de correo electrónico, banca en línea u otros sitios web.
    </p>

    <p>
      - Profesionales de la tecnología: <strong
        >Desarrolladores, administradores de sistemas y profesionales de la seguridad cibernética</strong
      >, que buscan herramientas para mejorar la seguridad de sus clientes o sistemas.
    </p>

    <p>
      - Empresas y organizaciones: Empresas de cualquier tamaño que deseen <strong
        >promover prácticas seguras de gestión de contraseñas entre sus empleados</strong
      > para proteger la información confidencial y los datos sensibles de la empresa.
    </p>
    
  </div>

</article>


<div class="my-8"></div>
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  
  <p>
    En resumen</p>
    <p>
      KeysBank está diseñado para satisfacer las necesidades de seguridad en línea de una amplia gama de usuarios, ofreciendo soluciones prácticas y beneficios tangibles para mejorar la protección de las cuentas y la información personal en el mundo digital.
    </p>
    
  </div>

</article>